# gradle
.gradle
build

# node
node_modules/

# vite
dist/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vite/

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

# VS Code
.vscode/

# Kotlin
.kotlin

# Mac
.DS_Store

# mise
mise.local.toml

# app
app/src/main/resources/frontend/
