[tools]
java = "corretto-21.0.9.10.1"
node = "24.10.0"

[env]
DEEPSEEK_API_KEY = "dummy"
CLOUDFLARE_TUNNEL_TOKEN = "dummy"

[tasks.jdeps]
description = "Show module dependencies of jar"
run = """
./gradlew clean app:build -x test

jdeps \
--print-module-deps \
--ignore-missing-deps \
--recursive \
--multi-release 21 \
-quiet \
app/build/libs/app.jar
"""

[tasks.build-with-frontend]
description = "Build backend and frontend"
run = """
(cd frontend && npm install && npm run build)
cp -pr frontend/dist/* app/src/main/resources/frontend/
./gradlew clean app:build -x test
"""
